
.gameList__container {
  display:flex;
  flex: 1;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.gameList__item {
  margin: $xs-size;

}
.mainPageContainer {
  display:flex;
  flex: 1;
  flex-direction:column;
  justify-content: flex-start;
  margin-left:$s-size;
}
.mainPageHeader {
  text-align:center;
}
.mainPage__joinModal{
  display:flex;
  flex: 1;
  flex-direction:column;
  justify-content: center;
  width: $xl-size;
  height: $xl-size;
}