
.gameList__container {
  display:flex;
  flex: 1;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-start;
}
.gameList__item {
  margin: $xs-size;

}
.gameList__item__joinButton{
cursor:pointer;
}
.mainPageContainer {
  display:flex;
  flex: 1;
  flex-direction:column;
  justify-content: flex-start;
  margin-left:$s-size;
}
.mainPage__createGameModal {
  background-color: #4EAFFC;
  position: absolute;
  border-radius: 10px;
  top: 30%;
  left: 30%;
  right: 30%;
  //bottom: 30%;
  padding-left: 3%;
  padding-right:3%;

}
.mainPage__expUpdateModal {
  background-color: rgba(94, 220, 58, 0.93);
  position: absolute;
  border-radius: 10px;
  top: 5%;
  left: 15%;
  right: 15%;
 //bottom: 30%;
  padding-left: 3%;
  padding-right:3%;
}
.mainPage__registerModal {
  background-color:#4EAFFC;
  position: absolute;
  border-radius: 10px;
  top: 30%;
  left: 20%;
  right: 20%;
  //bottom: 30%;
  padding-left: 3%;
  padding-right:3%;

}

.mainPageHeader {
  text-align:center;
}
.mainPage__joinModal{
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;
  bottom: 40px;
  padding-left: 2%;
  padding-right:2%;
}

.mainPage__module {
  margin: $module-spacing;

}